.text_content {
  flex: 1;
}

.text_content h5 {
  font-size: clamp(20px, 2.2vw, 28px);
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
  margin-top: clamp(20px, 4vw, 60px);
}

.text_content p {
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
}

.warning {
  margin-top: 200px !important;
}

.banner_container {
  display: none;
}

@media screen and (min-width: 780px) {
  .banner_container {
    display: none;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    flex-direction: row;
  }

  .banner_container {
    display: flex;
  }
}